.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(239, 229, 43);
  padding: 10px;
}

.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

body{
  padding: 10px;
  background-color: lightcyan;
}

.colour-border {
  justify-content: center;
  flex-direction: column;
}